.title h3{
    color: rgb(88, 114, 40);
    font-size: 40px;
    text-align: center;
}

.soilItem p{
    font-size: 20px;
    color: #7c795d;

}

.soilMenu{
    display: flex;
    flex-wrap: wrap;
}

.soil{
    margin-top: 100px;
}

.soilItem{
    width: calc((100% - (50px*2)) / 3);
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 100px;
}

.soilItem:nth-child(3n+1){
    margin-left: 0;
}

.soilPho img{
    width: 100%;
}

.link{
    font-size: 25px;
}

.link :hover{
    text-decoration: underline;
}